
/* Сама таблица */
.css-rqglhn-MuiTable-root{
  margin-top: 25px;
}
/* Строка с заголовками */
.css-15wwp11-MuiTableHead-root{
  .css-1q1u3t4-MuiTableRow-root{
    background: #F8F9FA!important;
  }
}
/* Строка вывода */
.css-1q1u3t4-MuiTableRow-root{
  background: #F8F9FA;
  &:nth-child(2n+1){
    background: #FFFFFF;
  }
}
/* Одна колонка у заголовка */
.css-12q85cb-MuiTableCell-root{
  font-weight: bold!important;
  border: 1px solid #e8e8e8;
  border-left: 0;
  &::first-letter{
    text-transform: uppercase;
  }
  &:first-child{
    border-left: 1px solid #e8e8e8;
  }
}

/* Select */
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{
  height: 56px;
  width: 100%;
}

/* Thead элемент */

.action_list{
  display: flex;
  align-items: center;
  gap: 5px;
  /* Edit icon */
  .css-i4bv87-MuiSvgIcon-root:first-child{
    cursor: pointer;
    color: #636262;
  }
  svg{
    cursor: pointer;
    color: #DC3545;
  }
}