.top_container{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  &__btns{
    display: flex;
    align-items: center;
    gap: 10px;
    .fa-plus{
      margin-right: 10px;
    }
  }
  &__button_group{
    margin-left: 10px;
    &__btn{
      background: #E0ECFF;
      color: #212529;
      :last-child{
        border-left: 0;
      }
    }
  }
}
.css-1gtpq4r-MuiButtonBase-root-MuiIconButton-root{
  width: auto;
}
@media screen and (max-width: 1050px) {
  .top_container{
    display: block;
  }
  .search_users_btn{
    margin-top: 15px;
  }
  .css-piqts5-MuiInputBase-root{
    width: 90%;
  }
}